integrations/n8n/WF-DRIVE-PUSH_intake.json
{
  "name": "WF-DRIVE-PUSH_intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f20c33d1-0166-4d04-919b-e541bbac2430",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -300,
        300
      ],
      "id": "webhook_prod",
      "name": "Production URL",
      "webhookId": "f20c33d1-0166-4d04-919b-e541bbac2430",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond_worker_token",
              "leftValue": "={{$json.headers[\"x-worker-token\"]}}",
              "rightValue": "__SET_IN_N8N__",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -40,
        300
      ],
      "id": "if_auth",
      "name": "Auth: X-Worker-Token == N8N_SHARED_SECRET"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"forbidden\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        220,
        460
      ],
      "id": "resp_forbidden",
      "name": "Respond 403 forbidden"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30594a8e-2162-803b-ab4d-cd4214ca0ff7",
          "mode": "list",
          "cachedResultName": "Meeting Register",
          "cachedResultUrl": "https://www.notion.so/30594a8e2162803bab4dcd4214ca0ff7"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "drive_file_id|rich_text",
              "condition": "equals",
              "richTextValue": "={{$node[\"Production URL\"].json.body.fileId}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        300
      ],
      "id": "notion_search",
      "name": "Notion search",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "yhAScpXnLQ8P5MKC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond_found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        300
      ],
      "id": "if_found",
      "name": "Idempotency: record exists?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"duplicate_ignored\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        740,
        200
      ],
      "id": "resp_dup",
      "name": "Respond 200 duplicate_ignored"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "30594a8e-2162-803b-ab4d-cd4214ca0ff7",
          "mode": "list",
          "cachedResultName": "Meeting Register",
          "cachedResultUrl": "https://www.notion.so/30594a8e2162803bab4dcd4214ca0ff7"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $node[\"Production URL\"].json.body.name ? $node[\"Production URL\"].json.body.name : $node[\"Production URL\"].json.body.fileId }}"
            },
            {
              "key": "drive_file_id|rich_text",
              "textContent": "={{$node[\"Production URL\"].json.body.fileId}}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        740,
        400
      ],
      "id": "notion_create",
      "name": "Notion create intake record",
      "credentials": {
        "notionApi": {
          "id": "yhAScpXnLQ8P5MKC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"new_file_accepted\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1000,
        400
      ],
      "id": "resp_new",
      "name": "Respond 200 new_file_accepted"
    }
  ],
  "pinData": {},
  "connections": {
    "Production URL": {
      "main": [
        [
          {
            "node": "Auth: X-Worker-Token == N8N_SHARED_SECRET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth: X-Worker-Token == N8N_SHARED_SECRET": {
      "main": [
        [
          {
            "node": "Notion search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion search": {
      "main": [
        [
          {
            "node": "Idempotency: record exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency: record exists?": {
      "main": [
        [
          {
            "node": "Respond 200 duplicate_ignored",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion create intake record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion create intake record": {
      "main": [
        [
          {
            "node": "Respond 200 new_file_accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d3062d85-87a8-4f2b-a93b-2af263156503",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9831d5794dbfbbfe37e8a55340f672d15c48d6c06ed0066f5da51930bb91cf7"
  },
  "id": "114K4cdna7AggWJ2fUMdW"
}